.home-section {
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #1d2038;

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.home-section h1 {
    font-size: 3.5rem;
    font-weight: 600;

    color: white;

    margin-bottom: 10px;
}

.home-section h2 {
    font-size: 1.6rem;
    font-weight: 400;

    color: #61dafb;
    margin-top: 10px;
    margin-bottom: 20px;
}