.project-card {
    background: #313552;
    border-radius: 15px;
    overflow: hidden;

    margin: 35px 0;
    cursor:pointer;

    box-shadow: 0 10px 25px rgba(0,0,0,.25);

    transition:
        transform .3s ease,
        box-shadow .3s ease;
}

.project-card:hover{
    transform: translateY(-6px);

    box-shadow:
        0 18px 35px rgba(0,0,0,.35);
}

.project-image{

    width:100%;

    background:#232743;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;
}
.project-image img{

    width:100%;

    height:auto;

    object-fit:contain;

    display:block;

    transition:transform .4s ease;
}

.project-card:hover .project-image img{
    transform:scale(1.03);
}

.project-content{

    padding:30px;
}

.project-content h3{

    color:white;

    font-size:28px;

    margin-bottom:15px;
}

.project-description{

    color:#ddd;

    line-height:1.7;

    font-size:17px;
}

.project-tech{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin:25px 0;
}

.tech-chip{

    background:#61dafb;

    color:#151829;

    padding:7px 14px;

    border-radius:20px;

    font-size:14px;

    font-weight:600;
}

.project-footer{

    display:flex;

    justify-content:flex-end;
}

.project-btn{

    background:#61dafb;

    color:#151829;

    text-decoration:none;

    padding:12px 22px;

    border-radius:8px;

    font-weight:600;

    transition:.3s ease;
}

.project-btn:hover{

    background:white;

    transform:translateY(-2px);
}

@media(max-width:768px){

    .project-image img{

        height:220px;
    }

    .project-content{

        padding:20px;
    }

    .project-content h3{

        font-size:22px;
    }

}