.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 220px;
    height: 100vh;

    background: #151829;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 15px;

    border-right: 1px solid rgba(255, 255, 255, 0.08);

    box-sizing: border-box;
}

.sidebar-nav {

    display: flex;
    flex-direction: column;
    

    width: 100%;
    gap: 5px;
}

.sidebar button {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 12px;

    background: transparent;
    border: none;

    color: white;

    padding: 14px 16px;

    border-radius: 10px;

    font-size: 16px;

    cursor: pointer;

    transition:
        background 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}
.sidebar button:hover {
    background: #313552;

    color: #61dafb;

    transform: translateX(5px);
}

.sidebar button:active {
    transform: translateX(2px);
}
.nav-icon {
    font-size: 18px;
    color: #61dafb;

    flex-shrink: 0;
}
/* Mobile */
@media (max-width: 768px) {

    .sidebar {
        display: none;
    }

}

